@font-face {
    font-family: test1;
    src: url("../static/font/grotesk/grotesk/Grotesk.otf") format("opentype");
}

@font-face {
    font-family: test2;
    src: url("../static/font/bizmeud/bizmeud/bizmeud.otf") format("opentype");
}

@import url('https://fonts.googleapis.com/css2?family=Inter+Tight&display=swap');

html{
    background-color: rgb(34, 37, 48);
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
    color: aliceblue;
    font-family: test1;
    font-size: 6rem;
}   

#chrono_categ{
    color: aliceblue;
    font-family: test2;
    font-size: 2rem;
}

#chrono_section{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width: 98vw;
}

#chrono a{
    text-decoration: none;
    color: aliceblue;
    font-family: test2;
}

#chrono{
    text-align: center;
    width: 30vw;
    align-self: center;
    border-radius: 10px;
    border: solid 3px #4a4d59;
    margin-bottom: 50px;
    display: inline-block;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #4a4d59;
    -webkit-transition: ease-out 0.6s;
    -moz-transition: ease-out 0.6s;
    transition: ease-out 0.6s;
    padding: 0%;
}
  
#chrono:hover {
    box-shadow: inset 0 150px 0 0 #4a4d59;
}

footer{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    text-align: center;
    color: aliceblue;
    font-family: test1;
    margin-top: 75px;
    border-top: solid 2px whitesmoke;
    font-size: small;
}

#choix{
    text-align: center;
    color: aliceblue;
    font-family: 'Inter Tight', sans-serif;
    font-size: 1.5rem;
}

#choix select{
    background-color: rgb(34, 37, 48);
    color: aliceblue;
    font-family: 'Inter Tight', sans-serif;
    font-size: 1.5rem;
    border: none;
    border-bottom: solid 2px whitesmoke;
    outline: none;
    margin-top: 10px;
}

#choix input{
    background-color: rgb(34, 37, 48);
    color: aliceblue;
    font-family: 'Inter Tight', sans-serif;
    font-size: 1.5rem;
    border: none;
    border-bottom: solid 2px whitesmoke;
    outline: none;
    margin-top: 10px;
}

#choix input:hover{
    border-bottom: solid 2px #4a4d59;
}

/* test */
.stopwatch {
    display: grid;
    justify-items: center;
    grid-row-gap: 23px;
    width: 100%;
    padding-top: 25px;
  }
  
  .circle {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  
    height: 270px;
    width: 270px;
  
    border: 2px solid;
    border-radius: 50%;
  }
  
  .time {
    font-family: "Roboto Mono", monospace;
    font-weight: 300;
    font-size: 48px;
  }
  
  .controls {
    display: flex;
    justify-content: space-between;
  
    width: 187px;
  }
  
  button {
    cursor: pointer;
    background: transparent;
    padding: 0;
    border: none;
    margin: 0;
    outline: none;
  }
  
  #playButton {
    display: block;
  }
  
  #pauseButton {
    display: none;
  }


/* https://codepen.io/bnsddk/pen/pojMGGN
https://www.youtube.com/watch?v=mSfsGTIQlxg
https://www.youtube.com/watch?v=E-w3REBL8Dc */